@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --background: #ffffff;
  --foreground: #020817;
  --card: #ffffff;
  --card-foreground: #020817;
  --popover: #ffffff;
  --popover-foreground: #020817;
  --secondary: #f1f5f9;
  --secondary-foreground: #020817;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #020817;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: 214.3 31.8% 91.4%;
  --ring: #2563eb;
}

.dark {
  --background: #020817;
  --foreground: #f8fafc;
  --card: #020817;
  --card-foreground: #f8fafc;
  --popover: #020817;
  --popover-foreground: #f8fafc;
  --primary: #2563eb;
  --primary-foreground: #f8fafc;
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: 214.3 31.8% 91.4%;
  --ring: #2563eb;
}

@layer base {
  * {
    @apply border-[#e2e8f0];
  }
  body {
    @apply bg-background text-foreground;
  }
}
